/* Universal */

body {
  display: flex;
}
h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  Height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: mediumaquamarine;
}
header nav {
  padding-right: 40px;
  display: inline-block;
}

/* Content */

content {
  display: flex;
  width: 1300px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
.lead-story .imgbox span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: cyan;
}
.story span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: cyan;
}

/* Column 1 */

.column1 {
  border: 3px dotted blue;
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.lead-story {
  border: 2px dotted green;
  width: 630px;
}
.lead-story .imgbox {
  display: flex;
  background-image: url("Resources/Images/glasses.png");
}
.others {
  border: 2px dotted green;
  display: flex;
  width: 630px;
  justify-content: flex-start;
  overflow: wrap;
}
#second {
  border: 2px dotted aquamarine;
}
#third {
  border: 2px dotted aquamarine;
}
.imgbox {
  border: 2px solid yellow;
}

/* Column 2 */

.column2 {
  border: 3px dotted blue;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* Column 3 */

.column3 {
  border: 3px dotted blue;
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
