/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  Height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: mediumaquamarine;
}
header nav {
  padding-right: 40px;
  display: inline-block;
}

/* Universal */

body {
  display: flex;
}
h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}
h2 {
  text-align: center;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.imgbox {
  border: 2px solid yellow;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  color: cyan;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
  justify-content: center;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.story span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: cyan;
}

/* Content */

content {
  display: flex;
  width: 1300px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

/* Column 1 */

.column1 {
  border: 3px dotted blue;
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.lead-story {
  border: 2px dotted green;
}
#glasses.imgbox {
  background-image: url("Resources/Images/glasses.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}
#autumn {
  background-image: url("Resources/Images/autumn.png");
}
#picman {
  background-image: url("Resources/Images/picman.png");
}
.others {
  border: 2px dotted green;
  display: flex;
  width: 630px;
  justify-content: flex-start;
  overflow: wrap;
  justify-content: space-between;
  margin-top: 17px;
}
.story {
  border: 2px dotted aquamarine;
}

/* Column 2 */

.column2 {
  border: 3px dotted blue;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
#ceocat {
  background-image: url("Resources/Images/catceo.png");
}

/* Column 3 */

.column3 {
  border: 3px dotted blue;
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.bite {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 12px;
  color: dimgray;
  padding: 12px;
}
